<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('user/role/index')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
                    <li><a data-href="{:url('user/power/index')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
                    <li><a data-href="{:url('user/user/index')}" data-title="管理员列表" href="javascript:void(0)">用户列表</a></li>
            </ul>
        </dd>
    </dl>
     <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe72d;</i> 患者信息管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('patient/patient/info')}" data-title="患者信息管理" href="javascript:void(0)">患者信息管理</a></li>
                    <li><a data-href="{:url('patient/patient/data')}" data-title="资料收集表管理" href="javascript:void(0)">资料收集表管理</a></li>
                    <!-- <li><a data-href="{:url('user/user/index')}" data-title="管理员列表" href="javascript:void(0)">用户列表</a></li> -->
            </ul>
        </dd>
    </dl>
    <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe639;</i> 功能评估<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('score/score/metapedes')}" data-title="AOFAS评分后足" href="javascript:void(0)">AOFAS评分后足</a></li>
                    <li><a data-href="{:url('score/score/propodeum')}" data-title="AOFAS评分前足" href="javascript:void(0)">AOFAS评分前足</a></li>
                    <li><a data-href="{:url('score/score/midleg')}" data-title="AOFAS评分中足" href="javascript:void(0)">AOFAS评分中足</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe6f2;</i> 用户档案文件管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('file/Ibcfile/index')}" data-title="ICB定制用户文件管理" href="javascript:void(0)">ICB定制用户文件管理</a></li>
                    <li><a data-href="{:url('file/Ibcfile/index')}" data-title="支辅具定制用户文件管理" href="javascript:void(0)">支辅具定制用户文件管理</a></li>
                    <!-- <li><a data-href="{:url('user/user/index')}" data-title="管理员列表" href="javascript:void(0)">用户列表</a></li> -->
            </ul>
        </dd>
    </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 基础数据管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('system/Casedesign/info')}" data-title="用户信息表设计器" href="javascript:void(0)">用户信息表设计器</a></li>
                    <li><a data-href="{:url('system/Casedesign/data')}" data-title="资料收集表设计器" href="javascript:void(0)">资料收集表设计器</a></li>
                    <li><a data-href="{:url('system/node/index')}" data-title="节点管理" href="javascript:void(0)">节点管理</a></li>
                    <!-- <li><a data-href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li> -->
                    <li><a data-href="{:url('system/Log/index')}" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
            </ul>
        </dd>
    </dl>
</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!-- <section class="Hui-article-box">
    <div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
        <div class="Hui-tabNav-wp">
            <ul id="min_title_list" class="acrossTab cl">
                <li class="active">
                    <span title="我的桌面" data-href="welcome.html">我的桌面</span>
                    <em></em></li>
        </ul>
    </div>
        <div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
</div>
    <div id="iframe_box" class="Hui-article">
        <div class="show_iframe">
            <div style="display:none" class="loading"></div>
            <iframe scrolling="yes" frameborder="0" src="welcome.html"></iframe>
    </div>
</div>
</section> -->