<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap_page.css" />
<title>H-ui.admin v3.1</title>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
     <script type="text/javascript" src="__STATIC__/case/dist/js/sde.editor.js"></script>
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 患者信息管理 <span class="c-gray en">&gt;</span> 资料收集 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
    <article class="cl pd-20">
    <div class="cl pd-5 bg-1 bk-gray"> <span class="l">  <a class="btn btn-primary radius" href="javascript:;" onclick="role_add()"><i class="Hui-iconfont">&#xe632</i>  保存</a>  <a class="btn btn-primary radius" href="javascript:;" onclick="info_print()"><i class="Hui-iconfont">&#xe632</i>  打印</a> </span></div><br>
 <!--    <script type="text/javascript" src="__STATIC__/case/sde.config.js?_=v3.0"></script>
    <link rel="stylesheet" href="__STATIC__/case/ueditor/themes/default/css/ueditor.css?_=v3.0" />
    <script type="text/javascript" src="__STATIC__/case/ueditor/ueditor.all.js?_=v3.0"></script>
     <script type="text/javascript" src="__STATIC__/case/ueditor/ueditor.parse.js"></script>
    <script type="text/javascript" src="__STATIC__/case/ueditor/lang/zh-cn/zh-cn.js?_=v3.0"></script> -->
    <div id="myEditor" style="width:1000px;height:1000px;margin:0 auto;">
    {$list.content}
    </div>
    </div></article>
    <!-- <script type="text/javascript" src="__STATIC__/js/LodopFuncs.js"></script> -->
    <script type="text/javascript">
        // window.onload = function() {
            var sde = new SDE({
                id: "myEditor",
                title: '', //自定义title
                // mode: 'EDITOR',//配置模式
                width: 980,//病历中内部页面宽度
                mode: 'EDITOR', //'READONLY',
            });

            function info_print(){ 
                sde.print({
            title: '',
            header: function(index, count, page) {
              var h = document.createElement('div')
              h.style.backgroundColor = "red"
              h.innerHTML = 'header:<br/>Page ' + (index + 1) + ' <br/>of ' + count
              return h;
            },
            footer: function(index, count, page) {
              var f = document.createElement('div')
              f.innerHTML = 'footer:<br/>Page ' + (index + 1) + ' <br/>of ' + count
              return f;
            },
            height: 1142,
            header_height: 100,
            footer_height: 45
          },'html')
        };
             
    </script>
</body>
</html>