{include file="/../../com/view/public/meta" /}

<article class="cl pd-20">
	<form action="/" method="post" class="form form-horizontal" id="form-change-password">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账户名：</label>
			<div class="formControls col-xs-8 col-sm-9">{$list.usercode} </div>
		</div>
		<input type="hidden" class="input-text" name="usercode" id="username" value="{$list.usercode}">
		<input type="hidden" class="input-text" name="pwd" id="pwd" value="{$list.userpwd}">
		<input type="hidden" class="input-text" name="id" id="" value="{$list.user_id}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>旧密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="请输入旧密码" name="password" id="password">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="请输入新密码" name="newpassword1" id="new-password1">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="再次输入密码，与新密码相同" name="newpassword2" id="new-password2">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

{include file="/../../com/view/public/footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$("#form-change-password").validate({
		rules:{
			password:{
				required:true,
				minlength:6,
				maxlength:17,
				// equalTo: "#pwd"
			},
			newpassword1:{
				required:true,
				minlength:6,
				maxlength:17,
			},
			newpassword2:{
				required:true,
				minlength:6,
				maxlength:17,
				equalTo: "#new-password1"
			},
		},
		  messages:{
            newpassword2:{
            	equalTo:"两次密码不一致。",
            }
        },
		submitHandler: function(form) {
            $(form).ajaxSubmit(options);
            return false;
        }
    })
	var options = {
	    url: "{:url('user/changepassword')}",
	    type: 'post',
	    success: function(data) {
	    	layer.msg(data.message);
	    	 if(data.status==1){
                   setTimeout("parent.location.reload()",1000);
				}
	    	}
	    } 
})
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>