{include file="/../../com/view/public/meta" /}
<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
	客户名：
	<span class="select-box inline">
		<select name="customer_id" class="select" id="select">
		{volist name='list2' id='vo'}
			<option value="{$vo.customer_id}">{$vo.customer_name}</option>
		{/volist}
		</select>
		</span><hr>
			<label for="name" class="lh-30 ml-30"><strong>一、疼痛（40分） </strong></label><br>
				<label class="radio-inline ml-50 lh-26 ">
					<input type="radio" name="pain" value="40">1、 无 
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="pain" value="30">2、轻，偶尔 
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="pain" value="20">3、中度，每天
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="pain" value="0">4、重度，一直存在
				</label><br>
			<label for="name" class="lh-30 ml-30"><strong>二、功能（50分）  </strong></label><br>
			<label for="name" class="lh-30 ml-40"><strong>活动受限，需要辅助： </strong></label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="auxiliary" value="10">1、无 
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="auxiliary" value="7">2、日常无受限，休闲活动受限
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="auxiliary" value="4">3、休闲及日常活动受限 
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="auxiliary" value="0">4、休闲及日常活动严重受限，需要助行器，拐杖或是轮椅、支具 
				</label><br>
			<label for="name" class="lh-30 ml-40"><strong>最大行走距离（街区，1街区约200米）： </strong></label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="distance" value="5">1、大于6街区（约1200米） 
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="distance" value="4">2、 4-6街区 
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="distance" value="2">3、1-3街区
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="distance" value="0">4、小于1 街区
				</label><br>
			<label for="name" class="lh-30 ml-40"><strong>行走路面：</strong></label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="pavement" value="5">1、任何路面无困难 
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="pavement" value="3">2、不平路面、台阶、下坡、梯子有一些困难 
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="pavement" value="0">3、不平路面、台阶、下坡、梯子严重受限 
				</label><br>
			<label for="name" class="lh-30 ml-40"><strong>步态异常： </strong></label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="gait" value="8">1、大于6街区（约1200米） 
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="gait" value="4">2、有明显异常
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="gait" value="0">3、存在显著的病理步态 
				</label><br>
			<label for="name" class="lh-30 ml-40"><strong>矢状面活动（屈与伸活动度之和）： </strong></label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="Sagittal" value="8">1、正常或轻度受限（30度或更大）
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="Sagittal" value="4">2、中度受限（15度-29度）	
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="Sagittal" value="0">3、严重受限（小于15度）
				</label><br>
			<label for="name" class="lh-30 ml-40"><strong>后足活动度（内翻与外翻之和）： </strong></label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="foot" value="6">1、正常或轻度受限（正常活动度的75%-100%）
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="foot" value="3">2、中度受限（正常活动度的25%-74%）
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="foot" value="0">3、严重受限（小于正常活动度的25%）
				</label><br>
			<label for="name" class="lh-30 ml-40"><strong>踝与后足的稳定性（前后，内外翻）： </strong></label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="stability" value="8">1、稳定
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="stability" value="0">2、不稳定
				</label><br>
			<label for="name" class="lh-30 ml-30"><strong>三、力线（10分）</strong></label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="Line_of_force" value="10">1、好，跖行足，后足对线好
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="Line_of_force" value="5">2、一般，跖行足，后足有一些力线不正，无症状
				</label><br>
				<label class="radio-inline ml-50 lh-26">
					<input type="radio" name="Line_of_force" value="0">3、不佳，非跖行足，严重对线不良，有症状
				</label>
				<hr>
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3 ml-50">
				<input class="btn btn-primary radius" type="button" onclick="submit_form()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
	</form>
</article>
{include file="/../../com/view/public/footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
function submit_form(){
	var len=$("input:radio:checked").length;
		if(len==9){
			var pain = $('input[name="pain"]:checked ').val();
			var auxiliary = $('input[name="auxiliary"]:checked ').val();
			var distance = $('input[name="distance"]:checked ').val();
			var pavement = $('input[name="pavement"]:checked ').val();
			var gait = $('input[name="gait"]:checked ').val();
			var Sagittal = $('input[name="Sagittal"]:checked ').val();
			var foot = $('input[name="foot"]:checked ').val();
			var stability = $('input[name="stability"]:checked ').val();
			var Line_of_force = $('input[name="Line_of_force"]:checked ').val();
			var Total=parseInt(stability)+parseInt(Line_of_force)+parseInt(pain)+parseInt(auxiliary)+parseInt(distance)+parseInt(pavement)+parseInt(gait)+parseInt(Sagittal)+parseInt(foot);
			layer.confirm('合计得分：'+Total+'<br>点击【确定】将保存该次调研。', function(){
				 $.ajax({
            		type:"POST",
            		url:"{:url('score/score/metapedesadd')}",
            		data:$("form").serialize(),//将表单序列化
            		dataType:'json',
            		success:function(data){
            			layer.msg(data.message);
                		if(data.status==1){
                    		setTimeout("parent.location.reload()",1000);
							}
            			}
        			})
				});
			}
		else{
		len=9-len;
		layer.msg('你还有'+len+'个问题未回答。');
		}
	}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>